<mat-card>
    <table>
        <!-- top row:project name -->
        <tr>
            <td colspan=2>
                <!-- project Name -->
                <mat-form-field class="full-width" floatLabel="never">
                    <input matInput placeholder="Project Name" [(ngModel)]="project.name" [disabled]="readMode" class="projectTitle readOnly-Text">
                </mat-form-field>
                <!-- project description -->
                <mat-form-field class="full-width description" floatLabel="never">
                    <textarea matInput placeholder="Project description" [disabled]="readMode" class="readOnly-Text" [(ngModel)]="project.desc"></textarea>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <!-- Left Part -->
            <td>
                <table class="mat-table">
                    <tr class="mat-header-row">
                        <!-- Start Date -->
                        <th>
                            <mat-form-field class="full-width" style="width: 150px;">
                                <input matInput [matDatepicker]="startDate" placeholder="Start Date" [formControl]="startDateCtr" [readonly]="readMode" [disabled]="readMode" class=" readOnly-Text" (dateChange)="startDateChangeEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate [disabled]="readMode"></mat-datepicker>
                            </mat-form-field>
                        </th>
                        <!-- End Date -->
                        <th>
                            <mat-form-field class="full-width" style="width: 150px;">
                                <input matInput [matDatepicker]="endDate" placeholder="End Date" [min]="project.startDate" [formControl]="endDateCtr" [readonly]="readMode" [disabled]="readMode" class=" readOnly-Text" (dateChange)="endDateChangeEvent('change', $event)">
                                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                <mat-datepicker #endDate [disabled]="readMode"></mat-datepicker>
                            </mat-form-field>
                        </th>
                        <!-- Cost Multiplier -->
                        <th>
                            <mat-form-field class="" style="width: 90px;">
                                <input matInput placeholder="Cost Multiplier" [(ngModel)]="project.costMultiplier" [formControl]="costMultiplierFC" [readonly]="readMode" type="number" class=" readOnly-Text textCenter">
                                <mat-error *ngIf="costMultiplierFC.invalid">{{getCostMultiplierErrorMessage()}}</mat-error>
                                <span matSuffix></span>
                            </mat-form-field>
                        </th>
                    </tr>
                </table>

                <table class="mat-table">
                    <tr class="mat-header-row">
                        <!-- Completed -->
                        <th>
                            <mat-form-field class="" style="width: 90px;">
                                <input matInput placeholder="Completed" [formControl]="completionFC" [(ngModel)]="project.completion" [readonly]="readMode" type="number" class=" readOnly-Text textCenter">
                                <span matSuffix>%</span>
                                <mat-error *ngIf="completionFC.invalid">{{getCompletionErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </th>
                        <!-- Records Stored Completed -->
                        <th>
                            <mat-form-field class="" style="width: 150px;">
                                <input matInput placeholder="Records Stored Completed" [formControl]="recoredStoredFC" [(ngModel)]="project.recoredStoredCompleted" type="number" [readonly]="readMode" class="textCenter readOnly-Text">
                                <span matSuffix>%</span>
                                <mat-error *ngIf="recoredStoredFC.invalid">{{getRecoredStoredErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </th>
                        <!-- Business Code -->
                        <mat-form-field floatLabel="always" *ngIf="!readMode">
                            <mat-label>Business Code</mat-label>
                            <mat-select [(ngModel)]="project.businessCode">
                                <mat-option *ngFor="let code of businessCodeOptions" value="{{code}}">
                                    {{code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>




                    </tr>

                </table>


            </td>
            <!-- Right Part -->
            <td valign="top">
                <table style="text-align: left; ">

                    <tr class="mat-header-row">
                        <!-- isUnderISO13485 -->
                        <th>
                            <mat-checkbox class="example-margin" [(ngModel)]="project.isUnderISO13485" [disabled]="readMode" class=" readOnly-Text">Under ISO13485</mat-checkbox>
                        </th>
                        <!-- isProposal -->
                        <th>
                            <mat-checkbox class="example-margin" [(ngModel)]="project.isProposal" [disabled]="readMode" class=" readOnly-Text">This is proposal</mat-checkbox>
                        </th>


                    </tr>

                    <tr class="mat-header-row">
                        <!-- Follow up Survey Sent -->
                        <th>
                            <mat-checkbox class="example-margin" [(ngModel)]="project.followupSurveySent" [disabled]="readMode" class=" readOnly-Text">Follow up Survey Sent</mat-checkbox>
                        </th>
                        <!-- Follow up Survey Result -->
                        <th>
                            <mat-checkbox class="example-margin" [(ngModel)]="project.followupSurveyResult" [disabled]="readMode" class=" readOnly-Text">Follow up Survey Result</mat-checkbox>
                        </th>
                    </tr>

                    <tr class="mat-header-row">
                        <!-- Inprogress Survey Sent -->
                        <th>
                            <mat-checkbox class="example-margin" [(ngModel)]="project.progressSurveySent" [disabled]="readMode" class=" readOnly-Text">Inprogress Survey Sent</mat-checkbox>
                        </th>
                        <!-- Inprogress Survey Result -->
                        <th>
                            <mat-checkbox class="example-margin" [(ngModel)]="project.progressSurveyRsult" [disabled]="readMode" class=" readOnly-Text">Inprogress Survey Result</mat-checkbox>
                        </th>
                    </tr>

                    <tr class="mat-header-row">

                    </tr>
                </table>
            </td>
        </tr>
        <!-- bottom row: momey -->
        <tr *ngIf="! newProjectMode">
            <td colspan=2>
                <table class="mat-table">
                    <tr class="mat-header-row">
                        <!-- SalaryBudget -->
                        <th class="toLeft">
                            <span class="label">Salary Budget</span><br/>
                            <span class="moneyvalue">{{project.salaryBudget|currency}}</span>
                        </th>
                        <!-- Total Invoiced	 -->
                        <th class="toLeft">
                            <span class="label">Total Invoiced	</span><br/>
                            <span class="moneyvalue">{{project.totalInvoice|currency}}</span>
                        </th>
                        <!-- Material Budget -->
                        <th class="toLeft">
                            <span class="label">Material Budget</span><br/>
                            <span class="moneyvalue">{{project.materialBudget|currency}}</span>
                            <!-- Spent to Date -->
                            <th class="toLeft">
                                <span class="label">Spent to Date</span><br/>
                                <span class="moneyvalue">{{project.spendToDate|currency}}</span>
                            </th>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- bottom row:teamLead -->
        <tr>
            <td colspan=2>
                <!-- Team Leads -->
                <mat-form-field class="full-width" floatLabel="always">
                    <mat-label>Team Lead</mat-label>
                    <table class="full-width">
                        <tr>
                            <td *ngIf="!readMode" style="width:160px;">
                                <p-multiSelect [options]="allEmployeeItems" [selectionLimit]="1" [(ngModel)]="teamLeadSelected" [panelStyle]="{minWidth:'12em'}" [filter]="true" (onChange)="teamLeadSelectionChanged($event.itemValue)" [showToggleAll]="false"></p-multiSelect>
                            </td>
                            <td>
                                <input matInput placeholder="Select Team Lead" value="{{teamLeadSelected}}" [disabled]="true" class=" readOnly-Text">
                            </td>
                        </tr>
                    </table>
                </mat-form-field><br>

                <!-- Team Members -->
                <mat-form-field class="full-width" floatLabel="always">
                    <mat-label>Team Members</mat-label>
                    <table class="full-width">
                        <tr>
                            <td *ngIf="!readMode" style="width:160px;">
                                <p-multiSelect [options]="allEmployeeItems" [(ngModel)]="teamMemberSelected" [panelStyle]="{minWidth:'12em'}" [filter]="true" (onChange)="teamMemberSelectionChanged($event.itemValue)" [showToggleAll]="false"></p-multiSelect>
                            </td>
                            <td>

                                <input matInput placeholder="Select Team Members" value="{{teamMemberSelected}}" [disabled]="true" class=" readOnly-Text">
                            </td>
                        </tr>
                    </table>
                </mat-form-field>
            </td>
        </tr>
    </table>




</mat-card>