mat-card {
    margin: 10px;
    width: fit-content;
}

.mat-elevation-z8 {
    box-shadow: inherit;
    border: 0px;
}

p-table {
    width: fit-content;
}

p-table tr {
    /* height: 48px; */
}

p-table th {
    background-color: white !important;
    text-align: left;
    font-size: 12px;
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

p-table td {
    font-size: 12px;
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

p-table td:not(:first-child) {
    background-color: white !important;
}

p-table td input {
    font-size: 12px;
}

.toolBarButton {
    color: #344955;
    border-collapse: white;
    background-color: #F9AA33;
    margin: 5px;
}

.toolBarButtonSecondary {
    color: white;
    border-collapse: white;
    background-color: #4a6572;
    margin: 5px;
}

>>>body .ui-button:enabled:hover {
    border-color: #F9AA33;
    background-color: #F9AA33;
    color: #344955;
}

>>>body .ui-button:enabled:focus {
    box-shadow: 0 0 0 0.2em #4a6571;
}

>>>body .ui-button:enabled:active {
    border-color: #F9AA33;
    background-color: #F9AA33;
    color: #344955;
}