mat-card {
    margin: 10px;
    width: fit-content;
}

.mat-elevation-z8 {
    box-shadow: inherit;
    border: 0px;
}

p-table {
    width: fit-content;
}

p-table tr {
    /* height: 48px; */
}

p-table th {
    background-color: white !important;
    text-align: left;
    font-size: 12px;
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

p-table td {
    font-size: 12px;
    border-width: 0px !important;
    border-bottom-width: 1px !important;
}

p-table {
    background-color: white !important;
}

p-table td input {
    font-size: 12px;
}

.toolBarButton {
    color: #344955;
    border-collapse: white;
    background-color: #F9AA33;
    margin: 5px;
    margin-left: 0px;
}

.addButton {
    color: #F9AA33;
    border-collapse: #4a6572;
    margin-top: 10px;
    /* background-color: #4a6572; */
}

.toolBarButtonSecondary {
    color: white;
    border-collapse: white;
    background-color: #4a6572;
    margin: 5px;
    margin-left: 0px;
}

>>>body .ui-button:enabled:hover {
    border-color: #F9AA33;
    background-color: #F9AA33;
    color: #344955;
}

>>>body .ui-button:enabled:focus {
    box-shadow: 0 0 0 0.2em #4a6571;
}

>>>body .ui-button:enabled:active {
    border-color: #F9AA33;
    background-color: #F9AA33;
    color: #344955;
}

>>>.cdk-overlay-pane {
    z-index: 2015;
}

>>>.cdk-overlay-backdrop {
    z-index: 2011;
}

>>>.cdk-overlay-connected-position-bounding-box {
    z-index: 2011;
}

>>>.cdk-overlay-container {
    z-index: 2010;
}

>>>.mat-icon {
    width: 14px;
    height: 14px;
    margin-right: 2px;
    font-size: 14px;
    margin-top: 2px;
}

>>>body .ui-table .ui-table-tbody>tr.ui-state-highlight {
    background-color: #4a6571 !important;
    color: white;
}

>>>body .ui-table .ui-table-tbody>tr:nth-child(even).ui-state-highlight {
    background-color: #4a6571 !important;
    color: white;
}

>>>body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
    color: white;
}