mat-card {
    margin: 10px;
    width: fit-content;
}

.toolBarButton {
    color: #344955;
    border-collapse: white;
    background-color: #F9AA33;
    margin: 5px;
}

.toolBarButtonSecondary {
    color: white;
    border-collapse: white;
    background-color: #4a6572;
    margin: 5px;
}

::ng-deep snack-bar-container.custom-class {
    background: #344955;
}

 ::ng-deep .custom-class .mat-simple-snackbar {
    color: #F9AA33;
}